version: 2

updates:

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    cooldown:
      default-days: 7

  - package-ecosystem: "uv"
    directory: "/"
    schedule:
      interval: "daily"
    # Setting this to 0 means that we get dependabot PRs for security updates only
    open-pull-requests-limit: 0
