.git/

**/*~
**/.#*
**/*#
**/htmlcov
**/__pycache__
**/*.pyc
**/.env
**/.venv
**/venv
**/.coverage
**/*.egg-info/

# Python files
/tests

# Tooling effluent
/htmlcov
/coverage

# Local application state
/node_modules
/workdir
